html {
  --lumo-font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --lumo-border-radius: 0.75em;
  --lumo-primary-text-color: rgb(243, 140, 22);
  --lumo-primary-color-50pct: rgba(243, 140, 22, 0.5);
  --lumo-primary-color-10pct: rgba(243, 140, 22, 0.1);
  --lumo-primary-color: hsl(32, 90%, 52%);
  --lumo-base-color: #d8dbe4;
}

[theme~="dark"] {
  --lumo-base-color: #121212;
  --lumo-primary-text-color: rgb(197, 99, 2);
  --lumo-primary-color-50pct: rgba(197, 99, 2, 0.5);
  --lumo-primary-color-10pct: rgba(197, 99, 2, 0.1);
  --lumo-primary-color: hsl(30, 98%, 39%);
}

 vaadin-dialog-overlay{
 opacity: 0.9
 }